:root{
  --primary: #84939E;
  --secondary: #8789AB;
  --tertiary: #87ABA7;
  --light: #CCBFB6;
  --dark: #403C39;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light);
  color: var(--dark);
  display: grid;
  grid-template-columns: 5% 40% 50% 5%;
  grid-template-rows: 8% 25% 60% 7%;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas:
  "header header header header"
  ". form-container form-container ."
  ". list-container list-container ."
  "footer footer footer footer";
}

header{
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--dark);
}

.form-container{
  grid-area: form-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 15px;
  padding: 1em;
}

.form-heading{
  grid-area: form-heading;
}

.desc-label{
  grid-area: desc-label;
}

.desc-input{
  grid-area: desc-input;
}

.severity-label{
  grid-area: severity-label;
}

.severity-menu{
  grid-area: severity-menu;
}

.assignation-label{
  grid-area: assignation-label;
}

.assignation-input{
  grid-area: assignation-input;
}

.form-button{
  grid-area: form-button;
  width: 33%;
  align-self: stretch;
}

.list-container{
  grid-area: list-container;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 15px;
  padding: 1em;
}

.issue{
  border-bottom: 1px dashed var(--primary);
}

.button{
  width: 8em;
  height: 2em;
  margin: 5px;
  border: 0;
  border-radius: 5px;
}

.button-add{
  background-color: green;
  color: var(--light);
}

.button-close{
  background-color: orange;
  color: var(--dark);
}

.button-delete{
  background-color: red;
  color: var(--light);
}

.footer{
  grid-area: footer;
  background-color: var(--primary);
}
